# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\inteliJ_workspace\gitHubTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
